<!-- <button id="edit_rate">edit rate</button>
<button id="edit_inds">edit inds</button>
<button id="edit_season">edit season</button> -->

<div class="menu">
    <div class="container">
        <div class="row flex-column align-items-center justify-content-lg-center flex-lg-row">
            <div class="element col col-lg-2"  id="edit_rate">
                Редактировать рейтинг
            </div>
            <div class=" element col-md-auto" id="edit_inds">
                редактировать показатели
            </div>
            <div class="element col-md-auto" id="logout">
                <a>Выйти</a>
            </div>
        </div>
    </div>
</div>