<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Рейтинг преподавателя</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="static/css/reset.css">

    <link rel="stylesheet" type="text/css" href="static/fonts/fonts.css">

    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="static/bootstrap/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="static/css/style.css">

</head>

<body>

    <div class="firstpage">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="top">
                        <div class="center">
                            <h1 class="sitename">
                                Рейтинг преподавателя
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="guest"></div>
            <div id="panel"></div>
            <div id="main_work"></div>

        </div>


    <div class="right_col" role="main">
      <div id="main">
        <div id="base"></div>
      </div>
    </div>


    <script src="static/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/login.js"></script>
    <script src="static/viewinds.js"></script>
    <script src="static/editrate.js"></script>
    <script src="static/viewrate.js"></script>
    <script src="static/main.js"></script>
</body>

</html>


<!-- <input type="text" id="tabletext" name="tableinput" placeholder="Введите данные..."> -->